body{
    margin: 0;
    
}
nav{
    background-color: burlywood;
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}

nav a{color: crimson;
    text-decoration: darkgreen;
}

#logo-home{
    height: 30px;
}

  
.mr-md{
    margin-right: 20px;
}